
@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Blanca.eot') format('eot');
  font-style: normal;
  font-weight: Blanca;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Blanca.ttf') format('ttf');
  font-style: normal;
  font-weight: Blanca;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Blanca.woff') format('woff');
  font-style: normal;
  font-weight: Blanca;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Blanca.woff2') format('woff2');
  font-style: normal;
  font-weight: Blanca;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-BlancaItalica.eot') format('eot');
  font-style: italic;
  font-weight: BlancaItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-BlancaItalica.ttf') format('ttf');
  font-style: italic;
  font-weight: BlancaItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-BlancaItalica.woff') format('woff');
  font-style: italic;
  font-weight: BlancaItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-BlancaItalica.woff2') format('woff2');
  font-style: italic;
  font-weight: BlancaItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Gris.eot') format('eot');
  font-style: normal;
  font-weight: Gris;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Gris.ttf') format('ttf');
  font-style: normal;
  font-weight: Gris;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Gris.woff') format('woff');
  font-style: normal;
  font-weight: Gris;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Gris.woff2') format('woff2');
  font-style: normal;
  font-weight: Gris;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-GrisItalica.eot') format('eot');
  font-style: italic;
  font-weight: GrisItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-GrisItalica.ttf') format('ttf');
  font-style: italic;
  font-weight: GrisItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-GrisItalica.woff') format('woff');
  font-style: italic;
  font-weight: GrisItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-GrisItalica.woff2') format('woff2');
  font-style: italic;
  font-weight: GrisItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Negra.eot') format('eot');
  font-style: normal;
  font-weight: Negra;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Negra.ttf') format('ttf');
  font-style: normal;
  font-weight: Negra;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Negra.woff') format('woff');
  font-style: normal;
  font-weight: Negra;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-Negra.woff2') format('woff2');
  font-style: normal;
  font-weight: Negra;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-NegraItalica.eot') format('eot');
  font-style: italic;
  font-weight: NegraItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-NegraItalica.ttf') format('ttf');
  font-style: italic;
  font-weight: NegraItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-NegraItalica.woff') format('woff');
  font-style: italic;
  font-weight: NegraItalica;
}

@font-face {
  font-family: 'Reforma2018';
  src: url('/Users/kylemathews/Downloads/Reforma/Reforma Webfonts/Reforma2018//Reforma2018-NegraItalica.woff2') format('woff2');
  font-style: italic;
  font-weight: NegraItalica;
}